<html lang="en">
    <head>
        <title>Survey Form</title>
    </head>
    <body>
        <div id="container">
            <h2>Submitted Information</h2>
            
            <p>Name: <%= info.name %></p>
            <p>Dojo Location: <%= info.location %></p>
            <p>Favorite Language: <%= info.language %></p>
            <p>Comment: <%= info.comment %></p>
        </div>
    </body>
</html>