<div class="container">
  <form (submit) = 'addOrder()'>
    <p>Add a new order</p>
    <label>Customer
      <select id='costumer' name="exCustomer" [(ngModel)]="order.exCustomer">
        <option *ngFor="let cust of customerList" [value]='cust._id'>{{cust.name}}</option>
      </select>
    </label>
    <label>Order <input type="number" name="quantity" required [(ngModel)]="order.quantity"></label>
    <select class="product" name="product" [(ngModel)]="order.product">
      <option *ngFor='let prods of productList' [value]="prods._id">{{prods.name}}</option>
    </select>
    <input type="submit" value="Order">
  </form>
  <input type="text" name="filter" placeholder="filter...">
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let or of orderList'>
        <td>{{or._customer.name}}</td>
        <td>{{or._product.name}}</td>
        <td>{{or.quantity}}</td>
        <td>{{or.createdAt}}</td>
      </tr>
    </tbody>
  </table>
</div>
