<main>
  <p>MainComponent</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis imperdiet magna, a volutpat augue elementum id. Vivamus vitae justo felis. Nam vitae dui et neque faucibus tincidunt. Nunc facilisis, quam id tempor cursus, lacus ipsum dignissim neque, at posuere leo ex nec ex. Sed nec tellus tristique, interdum libero non, ornare ante. Duis consectetur mi erat, vitae eleifend leo tempor quis. Aenean sodales velit quis accumsan suscipit. Vivamus id sem auctor, efficitur odio vitae, varius dolor. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis imperdiet magna, a volutpat augue elementum id. Vivamus vitae justo felis. Nam vitae dui et neque faucibus tincidunt. Nunc facilisis, quam id tempor cursus, lacus ipsum dignissim neque, at posuere leo ex nec ex. Sed nec tellus tristique, interdum libero non, ornare ante. </p>
</main>
