<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <title>Mongoose Example</title>
  </head>
  <body>
      <h2>Here are all the users:</h2>
      <% for (var i = 0; i < users.length; i++) {%>
        <ol>Name: <%= users[i].name %>
         Age: <%= users[i].age %></ol>
      <% } %>
      <form action="/users" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age">
        <input type="submit" value="Submit this">
      </form>
  </body>
</html>
