<header>
  <h1>Dojo Weather Forecast</h1>
  <nav>
    <a [routerLink] = '["seattle"]'>Seattle, WA</a> &#124;
    <a [routerLink] = '["san_jose"]'>San Jose, CA</a> &#124;
    <a [routerLink] = '["burbank"]'>Burbank, CA</a> &#124;
    <a [routerLink] = '["dallas"]'>Dallas, TX</a> &#124;
    <a [routerLink] = '["washington"]'>Washington, DC</a> &#124;
    <a [routerLink] = '["chicago"]'>Chicago, IL</a>
  </nav>
</header>
<fieldset>
  <legend>Results</legend>
  <router-outlet></router-outlet>
</fieldset>
