.quotes {
  border: 3px solid black;
  width: 500px;
  height: 200px;
}

.quotes div {
  display: inline-block;
}
span {
  margin-left: 50px;
  font-size: 25px;
}
button {
  display: block;
  margin: 0 auto;
}
.quotes :nth-child(3) {
  float: right;
}
