<h1>Add a Quote</h1>
<form (submit)="addQuote()">
  <textarea
  name="quote"
  [(ngModel)] = 'quote'
  required
  minlength = '4'
  #Quote = 'ngModel'
  ></textarea>
  <br>
  <label>
  <input
  type="text"
  name="author"
  [(ngModel)] = 'author'
  required
  minlength='1'
  #Author = 'ngModel'
  ></label>
  <br>
  <button [disabled]='!Author.valid || !Quote.valid' type="submit">Add Quote</button>
</form>
<div id="warnings">
  <div *ngIf='!Quote.valid' class="warning">Quote is Required</div>
  <div *ngIf='!Author.valid' class="warning">Author is Required</div>
</div>
<app-quotes [quoteList] = 'quotes' (upV)='voteUp($event)' (downV)='voteDown($event)' (del)='removeQuote($event)'></app-quotes>
