<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add new mongoose</title>
  </head>
  <body>
    <form action="/mongooses" method="post">
        <label for="name">Mongoose name:</label> <br>
        <input type="text" id="name" name="name"> <br>
        <label for="age">Mongoose age:</label> <br>
        <input type="number" name="age" id="age"> <br>
        <label for="saying">Mongoose saying:</label> <br>
        <textarea name="saying" rows="8" cols="80" id="saying"></textarea>
        <input type="submit" value="Add mongoose">
        <!-- <button><a href="/quotes">Skip to quotes!</a></button> -->
      </form>

  </body>
</html>
